
.input-group-addon {
    padding: 0px 10px;
}


/* Tablet Layout: 768px. */
@media only screen and (min-width: 12000px) and (max-width: 767px) { 
 
	div#sidebar {
	    display: none !important;
	    background: #000;
	}
}



/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    section.header-aria {
	    padding-top: 0 !important;
	}
	/*---- Nav Top Login */
	.mobile-top-aria {
	    padding: 20px 15px;
	}
	/*------- Nav Padding ------*/

	.navbar-header {
	    padding: 10px 0px;
	}
	/*------- Nav Padding ------*/
	.banner-left-aria {
	    padding: 70px 10px;
	}
	.banner-left-aria h2 {
	    font-size: 29px;
	    line-height: 40px;
	}
	.banner-left-aria p {
	    font-size: 15px;
	    line-height: 30px;
	}

	section.btm-count-aria {
	    overflow: hidden;
	}


	.populer-course-aria {
	    margin: 0px 20px;
	}

	.image-dlslkdc {
	    height: 215px;
	}

	.image-dlslkdc.profilepic {
	    height: 354px;
	}

	.total-section-dksldkck .div-5 {
	    width: 50%;
	}
	.total-section-dksldkck {
	    padding: 0px 10px;
	}
	.total-section-dksldkck .div-5 {
	    padding: 10px 8px !important;
	}

	.section-center-kdlslc h4 {
	    font-size: 18px;
	}
	.footer-nav ul li {
	    margin: 7px 0px !important;
	}
	.left-section-banner h1 {
	    font-size: 26px;
	    line-height: 35px;
	    font-weight: 700;
	    margin-bottom: 30px;
	}

	.left-section-banner p {
	    font-size: 16px;
	    line-height: 30px;
	}
	section.banner-single-course {
	    padding: 50px 5px;
	}
	.video-top-banner .price {
	    text-align: center;
	}
	.video-top-banner a {
	    margin-top: 10px;
	}

	.info-aria-dkfk42 ul li {
	    margin-left: 35px;
	    line-height: 39px;
	    font-weight: 600;
	}

	.instructor-profile-wraper {
	    padding: 16px 5px;
	}
	.right-aria-detels-page.fixed {
	    position: unset !important;
	    width: 100% !important;
	}

	.profile-pic img {
	    width: 100%;
	    height: 100%;
	    border-radius: 0%;
	    margin-bottom: 20px;
	}

	.info-aria-dkfk42.course-detels p {
	    font-size: 16px;
	    line-height: 30px !important;
	}

	/*Footer Aria */
	.footer-nav {
	    text-align: center;
	}
	.footer-right {
	    text-align: center;
	    margin-top: 15px;
	}


div#sidebar {
    display: none;
}

section.course-cariculam .panel-heading {
    padding: 20px 0px;
}
h4.panel-title p {
    padding-top: 5px;
}

.prifile-info {
    padding: 0px 20px;
}

h4.panel-title {
    padding: 0px 15px;
    line-height: 25px;
}



.col-md-7.left-image-dkslc0c23d {
    display: none;
}


section.page-content-aria {
    margin: 0px 0px;
}
.login-aria h3 {
    font-size: 22px;
    margin-bottom: 25px;
}

.login-btm {
    text-align: center;
}

.login-aria {
    margin: 0px 20px;
}

.registration-aria {
    margin: 0px 15px;
}
.nav-menu ul li a {
    width: 100%;
}

.right-side-course-dkdkfd411c .single-course {
    margin-top: 20px !important;
}
section.page-banner {
    padding: 20px 0px;
}
.page-nav-left h3 {
    margin-top: 5px;
}

.right-side-course-dkdkfd411c {
    margin-top: 30px;
}


section.page-banner.text-centerkdlskc0 .right-nav-top-aria {
    margin-top: 5px;
    text-align: center !important;
    float: unset;
}
section.page-banner.text-centerkdlskc0 .page-nav-left {
    text-align: center;
    padding-bottom: 5px;
}

footer.footer-aria {
    margin-top: 30px;
}

section.page-content-aria {
    max-width: 100%;
    overflow: auto;
}



}
